<div>
  <video id="localVideo", autoplay></video>
  <video id="remoteVideo", autoplay></video>

  <button id="connect">Connect</button>
  <button id="call">Call</button>
  <button id="hangup">Hangup</button>
</div>

